# Переменные для PostgreSQL
POSTGRES_DB=название БД
POSTGRES_USER=логин пользователя для пдоступа к БД
POSTGRES_PASSWORD=пароль от пользователя

# Переменные для Django-проекта:
SECRET_KEY=секретный ключ Django проекта
DB_HOST=адрес хоста, на котором находится БД (например localhost или ip адрес)
DB_PORT=порт, на котором доступна БД (например 5432)

# Переменные для телеграм бота
BOT_TOKEN=токен бота
REDIS_HOST=адрес хоста, на котором находится Redis (например localhost или ip адрес)
REDIS_PORT=порт, на котором доступен Redis (например 6379)

# Ссылки
LINK_GROUP = @ссылка на группу
LINK_CHANNEL = @ссылка на канал
